.App {
  display : flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
}
.container{
  border : 2px solid black;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
  width : 50vw;
  height : 80vh;
}
h1{
  color : blue;
}
img{
  border : 2px solid grey;
}
.buttons{
  width:20%;
  display:flex;
  justify-content: space-between;
 align-items: center;
 margin-right: 4rem;
}
.buttons :nth-of-type(1){
  background-color: blue;
  width : 2rem;
  height:2rem;
}