.App {
  display : flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
}
.container{
 position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
}

h1{
  color : blue;
}
img{
  border : 5px solid grey;
}
.next-button{
  position: absolute;
  top:45%;
  right:18px;
  background-color: blue;
  width : 3rem;
  height:10%;
  font-size: larger;
  border : none;
  color :white;
}
.previous-button{
  position: absolute;
  top :45%;
  left:18px;
  background-color: grey;
  width : 3rem;
  height:10%;
  font-size: larger;
  border : none;
  color :white;
}